  ul.discipline-box {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0.25em 0 0;
  }
  ul.discipline-box li {
    background-color: #eeeeee;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    text-align: center;
    transition: background-color 0.15s linear 0s;
    width: 20%;
   
  }

  ul.discipline-box li a {
    padding: 4em !important;
    width: 100%;
    color: #222222;
    display: block;
    font-size: 1.2em;
    transition: none 0s ease 0s  !important;
    text-align: center !important;
    height: 100%;
  }

  ul.discipline-box li a:hover{
    background: #3498DB;
    color:#fff !important;
    padding: 4em !important;
  }
 
  ul.discipline-box li a::before {
  display: block;
  font-size: 1.7em;
  padding: 0.5em;
}

[class^="fa-"]::before, [class*=" fa-"]::before, [class^="fa-"]::after, [class*=" fa-"]::after {
  font-family: "FontAwesome";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: bottom;
}
.navbar-brand>img {
	margin-top:-10px;
	max-width: 300%;
}
.section-intro{
height: 430px;
}
.img-btn-padding{
padding-top: 10px;
padding-bottom: 10px;
}
.test_div{
 border: 5px solid #cce6ff;
 height: 530px;
 padding-top: 10px;
 margin-top:10px;
}
.form-signin {
    //max-width: 280px;
    padding: 15px;
    //margin:100px;
    //margin-top:20px;
  }
.panel-default {
opacity: 0.8;
/*margin-top:30px;*/
}
.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: #99d6ff;
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }

.banner_bg {
    //position: fixed;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    //background-size: cover;
	background-size: 100% 100%;
     background-repeat:no-repeatdisplay: compact;
    background-image: url('/img/banner.png');
    //background-repeat:repeat;
 }
 .borderRound {
  border-radius:5px;
}